body{
    background-color: rgb(22, 22, 22);
    user-select: none; 
    font-family: Lucida Console;
}

body, li, ul, p{
    padding: 0px;
    margin: 0px;
}
.game{
    height: 900px;
    max-width: 1300px;
}

@media (max-width:1500px) {
    .wrapper{
        max-width: 1200px;
    }
}
@media (max-width:1200px) {
    .wrapper{
        max-width: 970px;
    }
}
@media (max-width:950px) {
    .wrapper{
        max-width: 750px;
    }
}

.game_display {
    top: 50px;
    margin-left: 140px;
    max-width: 540px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    outline: 1px solid grey;
    position: absolute;
}

    .cell {
        text-align: center;
        width: 180px;
        height: 180px;   
        justify-content: center;
        align-items: center;
        cursor: pointer;
        outline: white solid 5px;
        background-color: black;
        position: relative;
    }
   
.scoreboard {
    color: rgb(255, 255, 255);
    position: relative;
    top: 610px;
    left: 150px;
    max-width: 600px;
}
td {
    padding-right: 50px;
    text-align: center;
}

    td > p{
        margin: 10px;
        font-size: 20px;
        width: 120px;
    }

.current_move_player{
    color: rgb(134, 134, 134);
}

.x_move::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    content: "\1F7AA"; 
    font-size: 150px; 
    line-height: 180px;
    color: #FFF;
    text-align: center;
    
}
.null_move::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    content: "\0A66"; 
    font-size: 150px; 
    line-height: 180px;
    color: #FFF;
    text-align: center;
}
.treeInARow.x_move::after {
    animation-name: test-animation;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
.treeInARow.null_move::after {
    animation-name: test-animation;
    animation-duration: 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}


.highlighted_cell{
    background-color: #242323;
}


#keyboardAndMouse, #mouse{
    margin-bottom: 5px;
    width: 60px;
    height: 60px;
    padding: 0px;
}
#img_1{
    left: 10px;
    top: 5px;
    position: relative;
    width: 35px;
    height: 50px;
}

#img_2{ 
    left: 5px;
    top: 5px;
    position: relative;
    width: 50px;
    height: 50px;
}

#mouse:link, #mouse:visited{
    background-color: rgb(158, 149, 149);
}
#mouse:hover, #mouse:active{
    background-color:  rgb(216, 211, 211);
}

#keyboardAndMouse:link, #keyboardAndMouse:visited{
    background-color: rgb(163, 162, 162);
}
#keyboardAndMouse:hover, #keyboardAndMouse:active{
    background-color: rgb(216, 211, 211);
}

#keyboardAndMouse:hover+.pop_up_mode{
    opacity: 1;
}


.currentMode{
    background-color: rgb(255, 255, 255);
}
.inactiveMode{
    background-color: rgb(83, 83, 83);
}
@keyframes test-animation {
    0% {
        font-size: 150px;
    }
    100% {
        font-size: 180px;
        color: #8a2be2;
    }
}
 
.pop_up_mode{
    width: 150px;
    line-height: 16px;
    background-color: rgb(54, 54, 54);
    position: fixed;
    top: 265px;
    font-size: 12px;
    opacity: 0;
    color: rgb(170, 170, 170);
}
.pop_up_content{
    padding: 5px;
}

.endOfTheGame{
    width: 400px;
    height: 170px;
    background-color: #892be2ec;
    position: absolute;
    top: 233px;
    left: 210px;
    color: white;
    visibility: hidden;
}
.show_result{
    visibility: visible;
}


.message_with_results{
    position: absolute;
    top: 35px;
    left: 55px;
    font-size: 25px;
}
.message_with_results_tie{
    left: 155px;
    position: absolute;
    top: 35px;
    font-size: 35px;
}

.count_of_moves{
    position: absolute;
    top: 80px;
    left: 150px;
    font-size: 20px;
}
.count_of_moves_text_content{
    position: absolute;
    top: 80px;
    left: 230px;
    font-size: 20px;
}
.bt_new_game{
    position: absolute;
    top: 110px;
    left: 20px;
    font-size: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 170px;
    text-decoration: none;
    display: inline-block;    
    border-radius: 4px;
}
.bt_new_game:hover, .bt_new_game:active {
    background-color: rgb(255, 255, 255);   
    color: black;
}
.bt_retry:hover, .bt_retry:active{
    background-color: rgb(255, 255, 255);   
    color: black;
}
.bt_retry{
    position: absolute;
    top: 110px;
    left: 210px;
    font-size: 30px;
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    width: 170px;
    text-decoration: none;
    display: inline-block;    
    border-radius: 4px;
}
.select_mode_players{
    position: absolute;
    top: 390px;
    left: 15px;
}
.menu{
    position: absolute;
    top: 45px;
    left: 15px;
}

.new_game{
    position: relative;
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 29px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.new_game:hover, .new_game:active{
    background-color: rgb(97, 97, 97);
    color: white;
}

.select_mode_1player:link, .select_mode_1player:visited, 
.select_mode_2players:link, .select_mode_2players:visited,
.select_mode_1player_x:link, .select_mode_1player_x:visited,
.select_mode_1player_o:link, .select_mode_1player_o:visited,
.new_game:link, .new_game:visited{
    background-color: rgb(97, 97, 97);
    color: white;
}
.select_mode_1player:hover, .select_mode_1player:active,
.select_mode_2players:hover, .select_mode_2players:active,
.select_mode_1player_x:hover, .select_mode_1player_x:active,
.select_mode_1player_o:hover, .select_mode_1player_o:active{
    background-color: rgb(255, 255, 255);
    color: black;
}

.select_mode_1player{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}
.select_mode_2players{
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
}

.select_mode_1player_x{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(83, 83, 83);
    margin-bottom: 10px;    
}
.select_mode_1player_o{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(83, 83, 83);
    margin-bottom: 10px;
}
.hidden_select_x_or_o{
    opacity: 0;
}
.show_select_x_or_o{
    opacity: 1;
}
.select_mode_1player:hover+.show_select_mode_x_or_o{
    opacity: 1;
}
.pop_up_mode{
    width: 150px;
    line-height: 16px;
    background-color: rgb(54, 54, 54);
    position: fixed;
    top: 265px;
    font-size: 12px;
    opacity: 0;
    color: rgb(170, 170, 170);
}
.pop_up_content{
    padding: 5px;
}